{% extends 'base.html.twig' %}

{% block title %}Hello DeviceController!{% endblock %}

{% block body %}
<style>
    h2 {
        padding-left: 10px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #e9ecef;
    }

    .delete-button {
        padding: 5px 10px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: #e74c3c;
        border: none;
        border-radius: 10px;
    }

    .delete-button:hover {
        background-color: #d62c1a
    }

</style>

    <h2>My Devices</h2>

    <table>
        <thead>
        <tr>
            <th>Device Name</th>
            <th>Description</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td>{{ device.label }}</td>
                <td>{{ device.description }}</td>
                <td>{{ device.userAlias }}</td>
                <td><a href="{{ path('delete_device', {'id': device.id})}}" class="delete-button">Delete</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No devices found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
