{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
<style>
    h2 {
        padding-left: 10px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #e9ecef;
    }
</style>

    <h2>My Systems</h2>

    <table>
        <thead>
        <tr>
            <th>System Name</th>
            <th>Number of Devices</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
{#  {% for system in systems %}
            <tr>
                <td>{{ system.name }}</td>
                <td>{{ system.devices|length }}</td>
                <td>{{ system.owner.username }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No systems found.</td>
            </tr>
        {% endfor %}#}
            <tr>
                <td>System1</td>
                <td>3</td>
                <td>Tonin</td>
            </tr>
            <tr>
                <td>System2</td>
                <td>5</td>
                <td>Mulgi</td>
            </tr>
            <tr>
                <td>System3</td>
                <td>2</td>
                <td>Nig</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
